<!DOCTYPE html>
    <html>
        
    
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </head>
    
        <body>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">pavement</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i <count; i++) { %>
                        <tr>
                          <td><%= orderId[i] %></td>  
                          <td><%= firstname[i] %></td>
                          <td><%= lastname[i] %></td>
                          <td><%= address[i] %></td>
                          <td><%= mobilenum[i] %></td>
                          <td><%=pavement[i] %></td>
                          <td>
                            <form action="/admin" method="POST">
                                <button type="submit" class="btn btn-danger" value="<%= orderId[i] %>" name="del">Delete</button>
                            </form>
                        </td>
                          
                          
                          
                        </tr>
                     <% } %>                </tbody>
              </table>
        </body>
    
    </html>